/.vs
/*.tss
/*.user
/packages
/PalindromeSolver.Tests/bin
/PalindromeSolver.Tests/obj
/PalindromeSolver.Runner/bin
/PalindromeSolver.Runner/obj
/PalindromeSolver/obj
/PalindromeSolver/bin
/TestResults
/PalindromeSolver.Benchmark/bin
/PalindromeSolver.Benchmark/obj
*.ncrunchsolution
